

/* Globales */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    /* 1rem = 10px */
    font-family: 'Krub', sans-serif;
}

p {
    font-size: 2rem;
}


.contenedor {
    max-width: 120rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    background-color: rgb(135, 196, 44) ;
    
}


.sombra {
    box-shadow: 0px 5px 15px 0px rgba(97, 97, 97, 1);

    padding: 2rem;
    border-radius: 1rem;
}

.titulo {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    background-color: aqua;
    padding: 3rem;
}

.titulo span {
    font-size: 4rem;
    font-family: cursive;
}


#imagen_cuento {
    width:100%;
    border-radius: 50%;
    margin: auto;
    
}

.boton {
    margin: 5rem;
    text-align: center;

}
